.container
  .row
    .col-md-2
    .col-md-8
      %br
      %table.table.table-hover#playersTable
        %thead
          %tr
            %th Position
            %th First Name
            %th Last Name
        %tbody
          - @users.each do |player|
            %tr
              %td
                - player.positions.each do |pos|
                  %p= pos.name
              %td= player.first_name
              %td= player.last_name
    .col-md-2