- if player.highlights.status == "success"
  %video#movie{style: "width:100%;height:200px;", "preload"=>"none", "poster"=>"#{player.highlights.screenshots.first}", controls: true}
    %source{src:"#{player.highlights.url}", type:"video/mp4"}
- else
  = "Your video is processing: #{player.highlights.encoding_progress.to_i}%"