.col-md-2
.col-md-8
  = form_for @video do |f|
    %fieldset
      %input{:name => "video[player_id]", :type => "hidden", value: current_user.accountable_id}
      %legend Create New
      %label Title
      %input{:name => "video[title]", :placeholder => "Give it a title...", :type => "text"}
      %input#panda_video_id{:name => "video[panda_video_id]", :type => "hidden"}
      %br
      %br
      .progress.progress-striped.progress-success.active
        %span#progress-bar.bar
      .btn-toolbar
        %button#browse-files.btn.btn-default
          Choose file
        = link_to "Cancel", root_path, id: "cancel-button", class: "btn btn-default"
      %br
      #drop-file.well.well-large
        Drop files here
.col-md-2

:javascript
  $('#cancel-button').click(function(e){
    uploader.cancel(uploader.getQueuedFiles()[0]);
    e.preventDefault();
  })
  
  var uploader = panda.uploader.init({
    'buttonId': 'browse-files',
    'fileDropId': 'drop-file',
    'progressBarId': 'progress-bar',
    'onQueue': function(files) {
      $.each(files, function(i, file) {
        uploader.setPayload(file, {'csrf': "#{form_authenticity_token}"});
      })
    },
    'onSuccess': function(file, data) {
      $("#panda_video_id").val(data.id)
    },
    'onComplete': function(){
      if($("#panda_video_id").val())
        $("#new_video").submit();
    },
    'onError': function(file, message) {
      alert(message);
    },
    'onCancel': function(file) {
      uploader.setProgress(0);
    }
  });