- case @account.accountable_type
- when "Player"
  = render 'players/player_home', player: @account.accountable
- when "School"
  = render 'schools/school_home', school: @account.accountable
- else
  Hello, I'm the home page!